@font-face {
    font-family: "poiret";
    src: url("./font/PoiretOne-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'poiret';
}

.page {
    width: 100%;
    height: 300vh;
}

.page__one__wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.page__one__content {
    margin: 0 0 0 10%;
}

.page__one__name {
    margin: 0;
    font-size: 6.5vh;
    font-weight: normal;
}

.page__one__quote {
    margin: 0;
    font-size: 4vh;
    font-weight: normal;
}


.page__one__link {
    margin-top: 20px;
    display: flex;
    height: 5vh;
    width: 140px;
    justify-content: space-between;
}

.page__one__link__icon {
    height: 4vh;
    object-fit: fill;
}

.page__one__link__icon__facebook {
    height: 4vh;
    object-fit: cover;
}
